@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h3 class="display-4">Contato</h3>
	<table>
        <tr>
            <td>09</td>
            <td>10</td>
            <td>20</td>
            <td>30</td>
            <td>40</td>
            <td>50</td>
            <td>60</td>
        </tr>
    </table>

    <div class="text-center text-capitalize">
        <form action="/" method="post">
            <input type="email" name="email" placeholder="Digite seu email" id="emailContato"/>
            <input type="password" name="password" placeholder="Senha" id="pwd" />
            <input class="btn-success" type="submit" name="submit" value="Entrar" id="btn" />
        </form>
    </div>

</div>